body {
  margin: 0;  
  background-color: blanchedalmond;
  font-family: cursive;
  color: rgb(80, 4, 4)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
